{% extends "base.html" %}
{% block titre %}Connexion{% endblock %}
{% block classe_main %}etroit{% endblock %}
{% block corps %}
<h1>Espace RH</h1>
<p class="sous">Connexion requise pour piloter les demandes d'embauche.</p>
<form method="post" class="carte">
  <div class="champ">
    <label for="identifiant">Identifiant</label>
    <input name="identifiant" id="identifiant" autocomplete="username" autofocus>
  </div>
  <div class="champ">
    <label for="mot_de_passe">Mot de passe</label>
    <input type="password" name="mot_de_passe" id="mot_de_passe"
           autocomplete="current-password">
  </div>
  <hr class="sep">
  <button type="submit" style="width:100%">Se connecter</button>
</form>
{% endblock %}
